/* resets
*************************************/
@font-face {
	font-family: "allura";
	src: url("../css/fonts/allura/Allura-Regular.otf");
}
@font-face {
	font-family: "alex-brush";
	src: url("../css/fonts/alex-brush/AlexBrush-Regular.ttf");
}
@font-face {
	font-family: "existence";
	src: url("../css/fonts/Existence-Light/Existence-Light.otf");
}
@font-face {
	font-family: "qwigley";
	src: url("../css/fonts/Qwigley/Qwigley-Regular.ttf");
}
@font-face {
	font-family: "sansation";
	src: url("../css/fonts/sansation/Sansation-Light.ttf");
}
* {
	font-weight: 100;
}
/* common
*************************************/
html,
body {
	padding: 0; margin: 0;
	height: 100%;
	position: relative;
	min-width: 410px;
}
/* stand-alone
*************************************/
body {
	background: gainsboro;
}
div.overlay {
	position: absolute;
	top: 0; right: 0;
	bottom: 0; left: 0;
	background: rgba(0,0,0,0.6);
	z-index: 1;
	color: rgb(255,255,255);
	text-align: center;
	padding: 25em 0 0 0;
	-webkit-filter: blur(0);
    -moz-filter: blur(0);
    -o-filter: blur(0);
    -ms-filter: blur(0);
    filter: blur(0);

}
main {
	width: 100%;
	height: 100%;
	/*
	-webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    */
}
/* index
*************************************/
main div#hero {
	background: url("https://scontent-dfw1-1.xx.fbcdn.net/hphotos-xft1/v/t1.0-9/s720x720/11063957_1446177262362144_1077014568530344162_n.jpg?oh=88493795cd30d43f7026fc092c83d739&oe=560CD919") center center no-repeat;
	background-size: cover;
	width: 100%;
	height: 100%;
	position: relative;
}
div.overlay h1 {
	text-transform: uppercase;
	font-size: 4em;
	margin: 0;
}
div.overlay p {
	text-transform: capitalize;
	font-size: 3em;
	margin: 0 0 15px 0;
	font-family: qwigley;
}
div.overlay button {
	background: transparent;
	border: solid .1em rgb(255,255,255);
	width: 12em;
	color: rgb(255,255,255);
	padding: 5px;
	border-radius: 5px;
	text-transform: capitalize;
}
div.overlay button:hover {
	background: rgba(255,255,255,0.5);
	color: rgb(0,0,0);
	transition: all .2s;
}
/* cv page
*************************************/
/*
*************************************/
/*
*************************************/
/*
*************************************/
/*
*************************************/
/*
*************************************/
/*
*************************************/
/*
*************************************/
/*
*************************************/
/*
*************************************/
